
.icon-mic-low:before { content: '\e800'; } /* '' */
.icon-mic-max:before { content: '\e801'; } /* '' */
.icon-mic-mid:before { content: '\e802'; } /* '' */
.icon-mic-none:before { content: '\e803'; } /* '' */
.icon-no-wifi:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-search-again:before { content: '\e806'; } /* '' */
.icon-search-again-connected:before { content: '\e807'; } /* '' */
.icon-search-connected:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-grooveshark:before { content: '\e80a'; } /* '' */
.icon-data-science:before { content: '\f016'; } /* '' */
.icon-data-science-inv:before { content: '\f017'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */